ipdb==0.13.9
tqdm==4.62.3
omegaconf==2.1.1
unidic==1.0.2
mecab-python3==1.0.4sentencepiece==0.1.96
torch==1.8.0
transformers==4.16.2
logzero==1.7.0
fugashi==1.1.1
ipadic==1.0.0
cytoolz==0.11.2
pandas==1.4.0
scikit-learn==1.0.2
